<!-- Header Starts --> 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-md">
    <a class="navbar-brand" href="#"><img src="https://www.inspire.com/assets/img/inspire-logo.svg" alt="" > </a>
  </div>
</nav>
<!-- Header End Here  -->

<!-- Sorting List   -->
<div class="container">
  <div class="row">
    <div class="sub-header">
      <div><button type="button" (click)="clickBookDetailForm()" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Add +</button></div>
      <div class="mx-2">
        <select class="form-select form-select-sm" (change)="sortingBooks($event)" aria-label=".form-select-sm example">
        <option selected>Sort:</option>  
        <option value="title">Alphabetically</option>
        <option value="PublishDate">Publish Date</option>
        
      </select></div>
      </div>
  </div>
</div>
<!-- End Sorting List   -->


<!-- Book Details Main Container Here -->

<div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-6 mb-2" *ngFor= "let booksData of books index as j">         
          <div class="card">
            <div class="row g-0">
              <div class="col-md-6  ">
                <img src="{{booksData.imageUrl}}" class="img-fluid"   alt="..."> 
              </div>
              <div class="col-md-6">
                <nav class="navbar navbar-light">
                  <div class="container">
                    <a class="navbar-brand" href="#">
                      <img src="https://www.inspire.com/assets/img/inspire-logo.svg" alt=""  class="d-none d-md-block">
                    </a>
                  </div>
                </nav>

                <div class="action-links">
                  <div><a href=""class="links-details" (click)="onModify(booksData,j)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modify  </a></div>
                  <div>| </div>
                  <div><a  class="links-details" (click)="deleteBook(booksData.title)">Delete</a></div>
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">Author</h5>
                  <p class="card-text">{{author}}</p>
  
                  <h5 class="card-title">Birthday</h5>
                  <p class="card-text">{{birthday}}</p>
  
                  <h5 class="card-title">Place</h5>
                  <p class="card-text">{{birthPlace}}</p>

                  <h5 class="card-title">Title</h5>
                 <p class="card-text">{{booksData.title}}</p> 

                  <h5 class="card-title">Published Date</h5>
                 <p class="card-text">{{booksData.PublishDate}}</p> 

                 

                </div>

              </div>
            </div>
          </div>        
        </div>
    
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Book Details</h5>
              <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form [formGroup]="addBookForm" (ngSubmit)="addBookForm.status==='INVALID' && addBookDetails()" g-3>
                <div class="row">
                  <label for="formFileSm" class="form-label">Book Image </label>
                <div class="col-sm-10">
                  
                  
                  <input class="form-control form-control-sm" formControlName="bookImage" id="formFileSm" type="file" (change)="onselectFile($event)">
                </div>
                  <div class="col-sm-2 text-end"><img [src]="url" height="30" width="30"></div>
               
                </div>
                
                <div class="col-sm-12">
                  <label for="inputBookUrl" class="form-label">Book URL</label>
                  <input type="text" class="form-control" id="bookUrl"  formControlName="imageUrl" placeholder="url" [ngClass]="{error:getControl('imageUrl')?.errors && getControl('imageUrl')?.touched}">
               <div *ngIf="getControl('imageUrl')?.errors && getControl('imageUrl')?.touched">
                <small class="text-danger" *ngIf="getControl('imageUrl')?.errors?.['required']">Image Name is Required</small>
               </div>
               </div>

                <div class="col-sm-12">
                  <label for="inputTitle" class="form-label">Book Title</label>
                  <input type="text" class="form-control" id="bookTitle"  formControlName="title" placeholder="Tilte" [ngClass]="{error:getControl('title')?.errors && getControl('title')?.touched}">
                  <div *ngIf="getControl('title')?.errors && getControl('title')?.touched">
                    <small class="text-danger" *ngIf="getControl('title')?.errors?.['required']">Image Title is Required</small>
                   </div>                   
                </div>

                
                <div class="col-sm-12">
                  <label for="inputBookPurchaseLink" class="form-label">Book Purchase Link</label>
                  <input type="text" class="form-control" id="bookPurchaseLink"  formControlName="purchaseLink" placeholder="Purchase Link" [ngClass]="{error:getControl('purchaseLink')?.errors && getControl('purchaseLink')?.touched}">
                  <div *ngIf="getControl('purchaseLink')?.errors && getControl('purchaseLink')?.touched">
                    <small class="text-danger" *ngIf="getControl('purchaseLink')?.errors?.['required']">Book Purchase Link is Required</small>
                   </div>
                </div>               

                <div class="col-sm-12">
                  <label for="inputPublishYear" class="form-label">Publish Year </label>
                   <select class="form-select" formControlName="PublishDate" [ngClass]="{error:getControl('PublishDate')?.errors && getControl('PublishDate')?.touched}">
                    <option value="default">-Publish Year-</option>
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>
                <div *ngIf="getControl('imageUrl')?.errors && getControl('imageUrl')?.touched">
                  <small class="text-danger" *ngIf="getControl('PublishDate')?.errors?.['required']">Please Select Publish Date</small>
                </div>
                </div> 



                <div class="modal-footer">
                <button type="submit" [disabled]="addBookForm.status==='INVALID'" *ngIf="showAdd" class="btn btn-primary">Add</button> 
                <button type="button" *ngIf="showUpdate" [disabled]="addBookForm.status==='INVALID'" class="btn btn-primary" (click)="updateBookDetails()">Modify</button> 
              </div>
              </form>
            
            
              
            </div>
          </div>
        </div>
      </div>
    
</div>
<!-- Book Detail List-->

</div>

<!-- End Cotainer-->